#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

#gallery p{
    font-style: italic;
    font-weight: lighter;
    font-size: 0.75em;
}

#gallery #wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    scroll-behavior: smooth;
}

#gallery #wrapper::-webkit-scrollbar {
    display: none;
}

#gallery #wrapper #images{
    display: flex;
    gap: 10px;
    scroll-snap-align: start;
}

#gallery #wrapper #images .gallery-image {
    /* overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 40vw;
    height: 40vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    scroll-snap-align: center;
}

#gallery #wrapper #images .gallery-image img{
    width: 100%;
    height: auto;
    display: block;
}

#gallery .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#gallery .scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#gallery #last-button{
    left: 10px;
}

#gallery #next-button {
    right: 10px;
}